*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#countlabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: helvetica;
}
#btnContainer{
    text-align: center;
}
.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgba(219, 11, 11, 0.568);
    border-radius: 10px;
    cursor: pointer;
    transition:background-color 0.25s;
}
.buttons:hover{
    background-color:  rgba(219, 11, 11, 0.897);
}